@page "/"

<h1>PinTheHighwayCrash</h1>
<p>This free Blazor WebAssembly app lets you pin a highway crash location and quickly contact authorities.</p>

<p>
    <a class="btn btn-primary" href="report">Open Report Page</a>
</p>
