<nav class="nav flex-column p-3">
    <div class="nav-item mb-2">
        <a class="nav-link" href="/">Home</a>
    </div>
    <div class="nav-item mb-2">
        <a class="nav-link" href="report">Report Crash</a>
    </div>
</nav>
